include LICENSE
include *.rst
include *.md
exclude MANIFEST.in
recursive-include docs *
recursive-include static *
recursive-include src/senaite/patient *
recursive-exclude src/senaite/patient *.pyc
recursive-exclude src/senaite/patient/locales/.tx *
